{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='/static/MusicDatabase/style.css'>
    <title>Django and mySQL</title>
    <meta charset="utf-8">
</head>
<body>
    <div>
        <h1 class = "pink-back text-light" style = "text-align:center;">Applied CS 6/7 Music Database</h1>
        <div class = "row">
        <div style="padding-right: 25px; text-align: left" class = "col-lg-4 col-sm-12 text-light purple-back">
            <h2>
                <a href = "/MusicDatabase/id">Artist ID</a>
            </h2>
            <ul>
                {% for artist in artists %}
                <a href = "/MusicDatabase/{{ artist.0 }}">{{ artist.0 }}</a>
                <div class = "purple-back"><br></div>
                {% endfor %} 
            </ul>
        </div>
        <div style="padding-right: 25px; text-align: left" class = "col-lg-4 col-sm-12 text-light purple-back">
            <h2>
                <a href = "/MusicDatabase/name">Artist Name</a>
            </h2>
            <ul>
                {% for artist in artists %}
                {% if  artist.3 %}
                    <a href = "{{ artist.3 }}" target=”_blank”>{{ artist.1 }}</a>
                {% else %}
                {{ artist.1 }}
                {% endif %} 
                    <div class = "purple-back"><br></div>
                {% endfor %} 
            </ul>
        </div>
        <div style="padding-right: 25px; text-align: left" class = "col-lg-4 col-sm-12 text-light purple-back">
            <h2>
                <a href = "/MusicDatabase/formed">Artist Formed</a>
            </h2>
            <ul>
                {% for artist in artists %}
                {{ artist.2 }}
                <div class = "purple-back"><br></div>
                {% endfor %} 
            </ul>
        </div>
    </div>
</body>
</html>